# macOS system files
.DS_Store

# RoboCup 2D/3D logs
*.rcg
*.rcl

*.log

# Python virtual environment
.venv/

~/Code/ENG5325-Robotics-TDP-M-Team-14/Cyberphysical-RoboCup-Soccer-Teams/environment/3d-environment/RoboViz/.gradle_local/caches/